/* add to full width elements */
.justify{
    justify-self: center;
}

.archivo-font {
  font-family: "Archivo", sans-serif;
  font-weight: 300;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

body{
    font-family: 'Archivo', Arial, Helvetica, sans-serif;
    background-color: rgb(199, 255, 255);
}

#css-background-image{
    height: 197px;
    background-image: url(../images/saturn-350.png);
    background-repeat: no-repeat;
}

@media screen and (min-width: 768px){
        #css-background-image{
        height: 394px;
        background-image: url(../images/saturn-700.png);
        background-repeat: no-repeat;
    }
}

@media screen and (min-width: 1200px){
        #css-background-image{
        height: 675px;
        background-image: url(../images/saturn-1200.png);
        background-repeat: no-repeat;
    }
}

.picture-box{
    padding:10px;
    border: 4px solid rgb(3, 149, 211);
    border-radius: 20px;
    margin-top: 20px;
    background-color: white;
}

.picture-box h2{
    padding-bottom: 10px;
}

.picture-box span{
    background-color: rgb(250, 255, 100);
}

footer{
    padding: 20px;
    background-color: #82c6ee;
    margin-top: 20px;
}

footer p {
    background-color: white;
    padding: 5px;
}

header{
    background-color: #82c6ee;
    padding: 20px;
}

h1{
    font-size: 35px;
    background-color: white;
    padding: 5px;
}